[Unit]
Description=Run WRO run
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/program/roi.py

[Install]
WantedBy=multi-user.target
